<form [formGroup]="form" novalidate>
  <h3>Group form</h3>
  <mat-form-field class="full-width">
    <input matInput formControlName="username" [placeholder]="strings.username">
    <mat-error *ngIf="(form?.customValidateErrors | async)?.username?.length">
      {{(form?.customValidateErrors | async).username[0]}}
    </mat-error>
  </mat-form-field>
  <mat-form-field class="full-width">
    <input matInput type="email" formControlName="email" [placeholder]="strings.email">
    <mat-error *ngIf="(form?.customValidateErrors | async)?.email?.length">
      {{(form.customValidateErrors | async).email[0]}}
    </mat-error>
  </mat-form-field>
  <mat-form-field class="full-width">
    <input matInput type="date" formControlName="dateOfBirth" [placeholder]="strings.dateOfBirth">
    <mat-error *ngIf="form.get('dateOfBirth').hasError('required')">
      date of birth is
      <strong>required</strong>
    </mat-error>
    <mat-error *ngIf="(form?.customValidateErrors | async)?.dateOfBirth?.length">
      {{(form.customValidateErrors | async).dateOfBirth[0]}}
    </mat-error>
  </mat-form-field>
  <div formGroupName="department">
    <h3>Sub group form</h3>
    <mat-form-field class="full-width">
      <input matInput formControlName="name" [placeholder]="strings.department">
      <mat-error *ngIf="(form?.customValidateErrors | async)?.department?.name?.length">
        {{(form.customValidateErrors | async).department.name[0]}}
      </mat-error>
    </mat-form-field>
    <div formGroupName="company">
      <h3>Sub sub group form</h3>
      <mat-form-field class="full-width">
        <input matInput formControlName="name" [placeholder]="strings.departmentStrings.company">
        <mat-error *ngIf="(form?.customValidateErrors | async)?.department?.company?.name?.length">
          {{(form.customValidateErrors | async).department.company.name[0]}}
        </mat-error>
      </mat-form-field>
    </div>
  </div>
  <div class="full-width">
    <mat-checkbox formControlName="isSuperuser">{{strings.isSuperuser}}</mat-checkbox>
    <mat-checkbox formControlName="isStaff">{{strings.isStaff}}</mat-checkbox>
  </div>
  <div class="full-width">
    <p>Form status: {{ form.status | json }}</p>
    <p *ngIf="!form.valid">Custom validation errors: {{form.customValidateErrors|async|json}}</p>
    <p *ngIf="savedItem">Saved item: {{savedItem|json}}</p>
  </div>
  <div class="full-width">
    <button mat-raised-button (click)="onLoadClick()">Load</button>
    <button mat-raised-button (click)="onClearClick()">Clear</button>
    <button mat-raised-button (click)="onSaveClick()" [disabled]="!form.valid" cdkFocusInitial>Save</button>
  </div>
</form>