<form
    [formGroup]="form"
    *ngIf="form?.customValidateErrors|async as errors"
    novalidate
>
    <h3>Group form</h3>
    <mat-form-field class="full-width">
        <input
            matInput
            formControlName="username"
            [placeholder]="strings.username"
        >
        <mat-error *ngIf="errors?.username?.length">{{errors?.username.join(', ')}}</mat-error>
    </mat-form-field>
    <mat-form-field class="full-width">
        <input
            matInput
            type="email"
            formControlName="email"
            [placeholder]="strings.email"
        >
        <mat-error *ngIf="errors?.email?.length">{{errors?.email.join(', ')}}</mat-error>
    </mat-form-field>
    <mat-form-field class="full-width">
        <input
            matInput
            type="date"
            formControlName="dateOfBirth"
            [placeholder]="strings.dateOfBirth"
        >
        <mat-error *ngIf="form.get('dateOfBirth')?.hasError('required')">
            date of birth is
            <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="errors?.dateOfBirth?.length">{{errors?.dateOfBirth.join(', ')}}</mat-error>
    </mat-form-field>
    <mat-form-field class="full-width">
        <input
            matInput
            type="text"
            formControlName="abc"
            [placeholder]="strings.abc"
        >
        <mat-error *ngIf="errors?.abc?.length">{{errors?.abc.join(', ')}}</mat-error>
    </mat-form-field>
    <div formGroupName="department">
        <h3>Department of user</h3>
        <mat-form-field class="full-width">
            <input
                matInput
                formControlName="name"
                [placeholder]="strings.department"
            >
            <mat-error *ngIf="errors?.department?.name?.length">{{errors?.department.name.join(', ')}}</mat-error>
        </mat-form-field>
        <div formGroupName="company">
            <h3>Company of department</h3>
            <mat-form-field class="full-width">
                <input
                    matInput
                    formControlName="name"
                    [placeholder]="departmentStrings.company"
                >
                <mat-error *ngIf="errors?.department?.company?.name?.length">
                    {{errors?.department.company.name.join(', ')}}
                </mat-error>
            </mat-form-field>
            <mat-form-field class="full-width">
                <input
                    matInput
                    formControlName="regionNum"
                    type="number"
                    [placeholder]="companyStrings.regionNum"
                >
                <mat-error *ngIf="errors?.department?.company?.regionNum?.length">
                    {{errors?.department.company.regionNum.join(', ')}}
                </mat-error>
            </mat-form-field>
        </div>
    </div>
    <div class="full-width">
        <mat-checkbox formControlName="isSuperuser">{{strings.isSuperuser}}</mat-checkbox>
        <mat-checkbox formControlName="isStaff">{{strings.isStaff}}</mat-checkbox>
    </div>
    <div class="full-width">
        <p>Form status: {{ form.status | json }}</p>
        <p>
            Form class-validator errors: {{errors|json}}
        </p>
        <p>
            Form native errors: {{form?.nativeValidateErrors|async|json}}
        </p>
        <p *ngIf="savedItem">Saved item: {{savedItem|json}}</p>
    </div>
    <div
        class="full-width"
        fxLayout.gt-md="row"
        fxLayout.lt-md="column"
        fxLayoutAlign="space-evenly stretch"
    >
        <div
            fxFlex.gt-sm="60"
            fxLayout="row"
            fxLayoutAlign="start center"
        >
            <button
                mat-raised-button
                (click)="onLoadClick()"
            >
                Load
            </button>
            <button
                mat-raised-button
                (click)="onClearClick()"
            >
                Clear
            </button>
            <button
                mat-raised-button
                (click)="onSaveClick()"
                [disabled]="!form.valid"
                cdkFocusInitial
            >
                Save
            </button>
        </div>
        <div
            fxFlex.gt-sm="40"
            fxLayout="row"
            fxLayoutAlign="end center"
        >
            <button
                mat-raised-button
                (click)="onResetValidateAllFormFields()"
            >
                Reset validate states
            </button>
        </div>
    </div>
    <div
        class="full-width"
        fxLayout.gt-md="row"
        fxLayout.lt-md="column"
        fxLayoutAlign="space-evenly stretch"
    >
        <div
            fxFlex.gt-sm="100"
            fxLayout="row"
            fxLayoutAlign="start center"
        >
            <button
                mat-raised-button
                (click)="onLoadExternalClick()"
            >
                Load external
            </button>
            <button
                mat-raised-button
                (click)="onClearExternalClick()"
            >
                Clear external
            </button>
        </div>
    </div>
</form>
