<form
  [formGroup]="form"
  *ngIf="form?.customValidateErrors | async as errors"
  novalidate
>
  <mat-form-field class="full-width">
    <input matInput formControlName="name" [placeholder]="strings.name" />
    <mat-error *ngIf="errors?.['name']?.length > 0">{{
      errors?.['name'][0]
    }}</mat-error>
  </mat-form-field>
  <mat-form-field class="full-width">
    <input
      matInput
      formControlName="regionNum"
      type="number"
      [placeholder]="strings.regionNum"
    />
    <mat-error *ngIf="errors?.['regionNum']?.length">{{
      errors?.['regionNum']
    }}</mat-error>
    <mat-error *ngIf="form.get('regionNum')?.errors?.['required']">
      {{ 'region num should not be empty (native angular)' | transloco }}
    </mat-error>
  </mat-form-field>
  <div class="full-width">
    <p>Form status: {{ form.status | json }}</p>
    <p>Form custom validate errors: {{ errors | json }}</p>
    <p *ngIf="savedItem">Saved item: {{ savedItem | json }}</p>
  </div>
  <div class="full-width">
    <button mat-raised-button (click)="onLoadAsObjectClick()">
      Load as object
    </button>
    <button mat-raised-button (click)="onClearAsObjectClick()">
      Clear as object
    </button>
    <button mat-raised-button (click)="onSaveClick()" cdkFocusInitial>
      Save
    </button>
  </div>
  <div class="full-width">
    <button mat-raised-button (click)="onLoadClick()">Load as json</button>
    <button mat-raised-button (click)="onClearClick()">Clear as json</button>
    <button mat-raised-button (click)="onSaveClick()">Save</button>
  </div>
</form>
