<form
    [formGroup]="form"
    novalidate>
    <mat-form-field class="full-width">
        <input
            matInput
            formControlName="name"
            [placeholder]="strings.name">
        <mat-error *ngIf="form?.formErrors?.name?.length">
            {{form?.formErrors.name[0]}}
        </mat-error>
    </mat-form-field>
    <mat-form-field class="full-width">
        <input
            matInput
            formControlName="regionNum"
            type="number"
            [placeholder]="strings.regionNum">
        <mat-error *ngIf="form?.formErrors?.regionNum?.length">
            {{form?.formErrors.regionNum[0]}}
        </mat-error>
    </mat-form-field>
    <div class="full-width">
        <p>Form status: {{ form.status | json }}</p>
        <p *ngIf="!form.valid">
            Form errors: {{form?.formErrors|json}}
        </p>
        <p *ngIf="savedItem">Saved item: {{savedItem|json}}</p>
    </div>
    <div class="full-width">
        <button
            mat-raised-button
            (click)="onLoadClick()">
            Load
        </button>
        <button
            mat-raised-button
            (click)="onClearClick()">
            Clear
        </button>
        <button
            mat-raised-button
            (click)="onSaveClick()"
            [disabled]="!form.valid"
            cdkFocusInitial>
            Save
        </button>
    </div>
</form>
