<div class="ngx-docs-example">
    <div
        class="ngx-docs-example-title"
        fxLayout="row"
        fxLayoutAlign="space-between center">
        <span
            class="title"
            fxHide.xs
            fxShow.sm-xl>
            {{title}}
        </span>
        <button mat-button>
            <mat-icon></mat-icon>
        </button>
    </div>
    <div class="ngx-docs-example-source">
        <mat-tab-group>
            <mat-tab
                [label]="file.name"
                *ngFor="let file of files">
                <ngx-prism
                    [language]="file.language"
                    [code]="file.content">
                </ngx-prism>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>
