<form
    [formGroup]="form"
    novalidate>
    <h3>Group form</h3>
    <mat-form-field class="full-width">
        <input
            matInput
            formControlName="username"
            placeholder="Username">
        <mat-error *ngIf="form?.formErrors?.username?.length">
            {{form?.formErrors.username[0]}}
        </mat-error>
    </mat-form-field>
    <mat-form-field class="full-width">
        <input
            matInput
            type="password"
            formControlName="password"
            placeholder="Password">
        <mat-error *ngIf="form?.formErrors?.password?.length">
            {{form?.formErrors.password[0]}}
        </mat-error>
    </mat-form-field>
    <div class="full-width">
        <p>Form status: {{ form.status | json }}</p>
        <p *ngIf="!form.valid">
          Form errors: {{form?.formErrors|json}}
        </p>
        <p *ngIf="savedItem">Saved item: {{savedItem|json}}</p>
    </div>
    <div class="full-width">
        <button
            mat-raised-button
            (click)="onLoginClick()"
            [disabled]="!form.valid"
            cdkFocusInitial>
            Login
        </button>
    </div>
</form>
