<form
    [formGroup]="form"
    *ngIf="form?.customValidateErrors | async as errors"
    novalidate>
    <h3>Group form</h3>
    <mat-form-field class="full-width">
        <input
            matInput
            formControlName="username"
            placeholder="Username">
        <mat-error *ngIf="errors?.username?.length">{{errors?.username[0]}}</mat-error>
    </mat-form-field>
    <mat-form-field class="full-width">
        <input
            matInput
            type="password"
            formControlName="password"
            placeholder="Password">
        <mat-error *ngIf="errors?.password?.length">{{errors?.password[0]}}</mat-error>
    </mat-form-field>
    <div class="full-width">
        <p>Form status: {{ form.status | json }}</p>
        <p>
            Form class-validator errors: {{errors|json}}
        </p>
        <p>
            Form native errors: {{form?.nativeValidateErrors|async|json}}
        </p>
        <p *ngIf="savedItem">Login user data: {{savedItem|json}}</p>
    </div>
    <div class="full-width">
        <button
            mat-raised-button
            (click)="onLoginClick()"
            [disabled]="!form.valid"
            cdkFocusInitial>
            Login
        </button>
    </div>
</form>
