/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

.mat-table {
    .mat-header-row, .mat-row{
        padding: 0;
    }

    .mat-column-action {
        text-align: center;
        max-width: 100px;
    }
}
.navbar-title, .mat-button, .mat-raised-button{
    text-transform: uppercase;
}
.full-width {
    width: 100%;
}

.margin-15{
    margin: 15px;
}