<div class="navbar">
    <mat-toolbar
        color="primary"
        fxLayout="row"
        fxLayoutAlign="space-between center"
    >
        <div>
            <span *ngIf="leftChildrenRoutes.length">
                <button
                    mat-icon-button
                    [matMenuTriggerFor]="leftMenu"
                    fxShow
                    fxHide.gt-sm
                >
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu
                    #leftMenu
                    fxShow
                    fxHide.lt-sm
                >
                    <span *ngFor="let item of leftChildrenRoutes">
                        <ng-container *ngTemplateOutlet="menuItem;context:{item:item}"></ng-container>
                    </span>
                </mat-menu>
            </span>
            <a
                [routerLink]="['home']"
                mat-button
            >
                {{title}}
            </a>
            <span
                *ngFor="let item of leftChildrenRoutes"
                fxShow
                fxHide.lt-sm
            >
                <ng-container *ngTemplateOutlet="buttonItem;context:{item:item}"></ng-container>
            </span>
        </div>
        <div>
            <span
                *ngFor="let item of childrenRoutes"
                fxHide
                fxShow.gt-sm
            >
                <ng-container *ngTemplateOutlet="buttonItem;context:{item:item}"></ng-container>
            </span>
            <span *ngIf="childrenRoutes.length">
                <button
                    mat-icon-button
                    [matMenuTriggerFor]="rightMenu"
                    fxShow
                    fxHide.gt-sm
                >
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu
                    #rightMenu
                    fxShow
                    fxHide.gt-sm
                >
                    <span *ngFor="let item of childrenRoutes">
                        <ng-container *ngTemplateOutlet="menuItem;context:{item:item}"></ng-container>
                    </span>
                </mat-menu>
            </span>
        </div>
    </mat-toolbar>
</div>
<ng-template
    let-item="item"
    #buttonItem
>
    <a
        *ngIf="!item.redirectTo"
        [routerLink]="[item.name]"
        mat-button
        [class.active]="router?.isActive(item.url,true)"
    >
        <ng-container *ngTemplateOutlet="menuItemContent;context:{item:item}"></ng-container>
    </a>
    <a
        *ngIf="item.redirectTo"
        target="_blank"
        [href]="item.redirectTo"
        mat-button
    >
        <ng-container *ngTemplateOutlet="menuItemContent;context:{item:item}"></ng-container>
    </a>
</ng-template>
<ng-template
    let-item="item"
    #menuItem
>
    <a
        *ngIf="!item.redirectTo"
        [routerLink]="[item.name]"
        mat-menu-item
        [class.active]="router?.isActive(item.url, true)"
    >
        <ng-container *ngTemplateOutlet="menuItemContent;context:{item:item}"></ng-container>
    </a>
    <a
        *ngIf="item.redirectTo"
        target="_blank"
        [href]="item.redirectTo"
        mat-menu-item
    >
        <ng-container *ngTemplateOutlet="menuItemContent;context:{item:item}"></ng-container>
    </a>
</ng-template>

<ng-template
    let-item="item"
    #menuItemContent
>
    <mat-icon
        [svgIcon]="item.svgIcon"
        *ngIf="item.svgIcon"
    ></mat-icon>
    <mat-icon *ngIf="item.icon">{{item.icon}}</mat-icon>
    <span>{{item.title}}</span>
</ng-template>
