<div
    class="simple-page"
    fxLayout.gt-md="row"
    fxLayout.lt-md="column"
    fxLayoutAlign="space-evenly stretch">
    <ngx-docs-example
        title="I18n: company panel"
        [html]="source.html"
        [ts]="source.ts"
        fxFlex.gt-sm="50">
        <div class="body">
            <i18n-company-panel></i18n-company-panel>
        </div>
    </ngx-docs-example>
    <source-tabs
        title="Other files"
        [files]="otherFiles"
        fxFlex.gt-sm="50"></source-tabs>
</div>
