<form [formGroup]="form" *ngIf="form?.customValidateErrors | async as errors" novalidate>
  <h3>{{ 'Registration form' | transloco }}</h3>
  <mat-form-field class="full-width">
    <!--t(username)-->
    <input matInput formControlName="username" [placeholder]="'Username' | transloco" />
    <mat-error *ngIf="errors?.username?.length">{{ (errors?.username)[0] }}</mat-error>
  </mat-form-field>
  <mat-form-field class="full-width">
    <!--t(password)-->
    <input matInput type="password" formControlName="password" [placeholder]="'Password' | transloco" />
    <mat-error *ngIf="errors?.password?.length">{{ (errors?.password)[0] }}</mat-error>
  </mat-form-field>
  <mat-form-field class="full-width">
    <!--t(rePassword)-->
    <input matInput type="password" formControlName="rePassword" [placeholder]="'Confirm password' | transloco" />
    <mat-error *ngIf="errors?.rePassword?.length">{{ (errors?.rePassword)[0] }}</mat-error>
  </mat-form-field>
  <div class="full-width">
    <p>{{ 'Form status:' | transloco }} {{ form.status | json }}</p>
    <p>{{ 'Form class-validator errors:' | transloco }} {{ errors | json }}</p>
    <p>{{ 'Form native errors:' | transloco }} {{ form?.nativeValidateErrors | async | json }}</p>
    <p *ngIf="savedItem">{{ 'Registration user data:' | transloco }} {{ savedItem | json }}</p>
  </div>
  <div class="full-width">
    <button mat-raised-button (click)="onRegistrationClick()" [disabled]="!form.valid" cdkFocusInitial>
      {{ 'Registration' | transloco }}
    </button>
  </div>
</form>
